<!DOCTYPE html>
<html>
  <head>
    <title>Roster</title>
  </head>

  <body>
    <h1> Team Names </h1>

    <ul>
      <% teams[team_name].each do |key, values| %>
        <li><%= key %> : <%= values %> </li>
      <% end %>
    </ul>

  
  </body>
</html> 